/* ESTILO - SKILLS - HABILIDADES */

.skills {
    color: #fff;
    position: relative; 
    z-index: 10;
    margin-top: 5%;
}

.skills .title::after {
    background: none;
    content: "Nível : Iniciante";
}

.skills .text-4 {
    background: none;
    font-size: 35px;
    font-weight: 600;
    margin-left: 21%;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    font-family: 'Courier Prime', monospace;
}

.skills .text-4 i{
    font-size: 50px;
    background: none;
    color: transparent;
    -webkit-text-stroke: 0.1px #c1fc00;
}

/******* MEDIA QUERY *******/

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 947px) {
    .max-width {
        max-width: 800px;
    }
    @media (max-width: 690px) {
        .max-width {
            padding: 0 23px;
        }
        .skills .skills-content .card {
            width: 100%;
        }
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 737px) {
    .skills-content {
        display: none;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 575.98px) {
    .skills-content {
        display: none;
    }
}
